<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Warsha" />
    <title>@ViewData["Title"] - Warsha</title>

    <!-- Favicon -->
    <link rel="icon" href="~/images/favicon-32x32.png" type="image/x-icon" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />

    <!-- Google Fonts: Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" />

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    <!-- Custom Styles -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Warsha_MVC.styles.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3 py-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Warsha</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3 d-flex">
                        @if (User.IsInRole("User"))
                        {
                            <li class="nav-item  me-2">
                                <a class="nav-link text-light" asp-controller="Courses" asp-action="Index"><i class="fas fa-book"></i> Courses</a>
                            </li>

                            <li class="nav-item  me-2">
                                <a class="nav-link text-light" asp-controller="Enrollments" asp-action="Index"><i class="fas fa-clipboard-list"></i> Enrollments</a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item me-2">
                                <a class="nav-link text-light" asp-controller="Users" asp-action="Index"><i class="fas fa-users-cog"></i> Manage Users</a>
                            </li>
                            <li class="nav-item  me-2">
                                <a class="nav-link text-light" asp-controller="Roles" asp-action="Index"><i class="fas fa-user-shield"></i> Manage Roles</a>
                            </li>
                            <li class="nav-item  me-2">
                                <a class="nav-link text-light" asp-controller="Courses" asp-action="Index"><i class="fas fa-book-open"></i> Manage Courses</a>
                            </li>
                            <li class="nav-item  me-2">
                                <a class="nav-link text-light" asp-controller="Enrollments" asp-action="Index"><i class="fas fa-list-alt"></i> Manage Enrollments</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2024 - Warsha - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- JavaScript Files -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
