@model RoleFormViewModel

<form method="post" asp-action="Add">
    @Html.AntiForgeryToken()

    <div class="form-group mb-3">
        <div class="input-group">
            <input asp-for="Name" class="form-control" placeholder="Role name..." aria-label="Role Name" />
            <button type="submit" class="btn btn-primary ms-2">Add New Role</button>
        </div>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</form>
